body.waiting * {
    cursor: progress;
}	
.largeHeader{
	font-weight:100; margin-bottom:5px;
}
.medHeader{
	font-weight:100; margin-bottom:5px;
}
.medSmHeader{
	font-weight:100; margin-bottom:5px;
}	
.smallHeader{
	margin-bottom:5px;
}
.explanations{
	margin-left:15px; margin-top:4px; color:#21658c; margin-right:10px;
}	
.multiShoreCheck, .futureWrapper, .historicalShoreWrapper, .futureInfo, .historicInfo{
	display:none;
}	
.multiShoreSlider{
	margin-left:20px;
}
.multiShoreSlider label{
	position: absolute; width: 54px; margin-left: -26px; text-align: left; margin-top: 30px; transform: rotate(90deg);
	text-align:left;
}
.ch-yearCheck{
	width:80%; columns:3; margin:auto; margin-top:10px; 
}
.ch-yearCheck label{
	margin-left:5px; padding:2px; margin-bottom:1.5px; text-align:left;
}
hr.hrStyle {
    border: 0; height: 1px;  background-image: linear-gradient(to right, #ccc, #29658C, #ccc); margin:12px 0 12px;
}
.chartTitle{
	margin-top:30px; margin-bottom:14px; text-align:center;
}
.multiShoreLine{
	display:none; margin-top:10px;
}
.chartWrapper{
	margin-top:10px; width:100%; text-align:center;
}
.multiShoreSlider input{
	width:85%; margin:auto; display:block;
}
/* Chosen select menu elements */
.chosen-container{
	font-size:1em;
}	
.chosen-container-single .chosen-single{
	padding: 0px 0 0 8px; height:26px; text-align:left; color:#000;
}
.chosen-container-single .chosen-default, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	color:#222;
}
.chosen-container-single .chosen-single abbr{
	right:16px;
}
.chosen-container-single .chosen-single span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container-single .chosen-single-with-deselect span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container ul.chosen-results li.highlighted {
  background-color: #29658C; background-image: none; color:#fff; text-shadow:0 -1px 1px rgba(0,0,0,0.25); font-weight:100;
}
.active-result{
	
}
abbr.search-choice-close {
  cursor: pointer;
}
/* Bottom Bar Elements */
.bottomDiv{
	position:absolute; bottom:0px; left:0px; width:100%; border-top-style:groove !important; height:30px !important;
	background-color:#F3F3F3 !important; padding-top:3px !important; display:none;
}
.sliderDiv{
	width:252px; margin:0 auto; text-align:center;
}
.leftSliderLabel{
	display:inline-block; margin-right:9px; 
}


.rightSliderLabel{
	display:inline-block; margin-left:5px; 
}
.transectWrap span{
	font-weight:bold;
}
.transectWrap, .shortWrap, .longWrap{
	display:none;
}
.barWrapper {
	width:346px; height:25px; position:relative; left:26px; margin-bottom:4px; background-color:#333; float:left;
}
.bars{
	position: absolute; display: block; width: 342px; height: 20px; border: 0; left: 0px; bottom: 0%; float:left; color:black;
	-moz-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
}
.spanBar{
	top:2px; left:2px; overflow:hidden; text-indent:-30px;
}
.emBar{
	border-top:1px solid #424542; border-right:1px solid #424542;
}
.barLabel{
	position:relative; z-index:2; left:.5px; top:3px;  padding:5px; text-shadow: 0 1px 1px rgba(255,255,255,0.45); font-weight: bold;
}
.bar3{
	background: repeating-linear-gradient(45deg, #ecefde, #ecefde 5px, #ccc 5px, #ccc 10px);
}
.barf{
	background-color:#408cb4;
}
.bar2{
	background-color:#408cb4;
}
.bar1{
	background-color:#c8841d;
}
.topLabel{
	margin-left:15px; margin-bottom:-5px;
}
.hide{
	display:none;
}
.graphWrapper{
	padding-bottom:5px !important; padding-top:10px !important; margin-left:-12px;
}
.barNumWarpper{
	height:48px !important;
}
.graphLegLbl{
	display:inline-block; margin-top:3px; margin-left:3px; vertical-align:middle;
}
.graphLegend{
	height: 25px; display:inline-block;
	-moz-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
	box-shadow: inset 1px 2px 2px rgba(255, 255, 255, .4), inset -1px -1px 2px rgba(0, 0, 0, .4);
}
.bar2a{
	margin-left:7px; border-bottom:2pt solid #408cb4; display:inline-block; 
}
.bar2b{
	margin-left:7px; border-bottom:2pt solid #c8841d; display:inline-block;  
}
.barfa{
	margin-left:7px;
}
.grLgDiv{
	height:20px; width:100%; display:inline-block; text-align:center; margin-bottom:10px; margin-left:-12px;
}
.lineHeader1{
	font-weight:bold; text-align:left; 
}
.lineHeader2{
	display:inline-block; font-weight:bold; text-align:left; width:120px; padding-left:14px; text-indent:-14px; 
	vertical-align:middle;
}
.lineHeader3{
	font-weight:bold; text-align:left; margin-bottom:3px;
}
.lineHeader3a{
	text-align:left; margin-bottom:3px; margin-left:10px;
}
.sectionHeader{
	font-weight:bold; text-align:center; 
}
.futureCbLabel{
	font-weight:bold; text-align:left; display:inline-block; 
}
.lineWrap{
	margin-top:10px; margin-left:10px; text-align:left;
}
.lineWrapCenter{
	width:100%; text-align:center; margin-top:10px; margin-bottom:20px;
}
.lineWrapCenter1{
	width:100%;
}
	
.pdfLink:active{
	color:blue; font-weight:normal; 
}
.pdfLink{
	color:blue; cursor:pointer;
}
.helpLink{
	width:100%; display:flex; margin: 8px 5px -10px 0px;
}
.helpLink1, .helpLink2{
	color:blue; cursor:pointer; flex:1;
}
.helpLink1{

}
.helpLink2{
	text-align:right; margin-right:2px;
}

.moreInfo:hover{
	color:#2795b6;	
}	
.topLineWrap{
	text-align:center; margin-top:0px; margin-bottom:10px; margin-left:12px;	
}
.selectWrapper{
	margin:auto; width:280px;
}
.yearCbLabel{
	display:inline-block;
}
.yearCbWrap{
	text-align:left; 
}
.yearCb{
	cursor:pointer;
}	
.navSpacer{
	margin-top:10px;
}	
.navSpacer1{
	margin-top:60px;
}	
.futureCbWrap{
	margin-left:10px;
	margin-bottom:5px;
}
.futureCbLine{
	margin-bottom:5px;
}	
.futureCb{
	margin-right:5px;
}	
.cc_mulCbWrap{
	display:flex; width:300px; margin:auto; margin-left:58px;
}	
.cc_mulCb{
	flex:1; text-align:left;
}	