.togBtnWrap{
	display:inline-block;
}	
.togBtn{
	padding:8px; text-decoration:none; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5); box-shadow: 0 1px 2px rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.25); outline:none; position:relative;
	font-size:12pt; margin:5px; background-color:#f4f4f4; color:#000; text-shadow:0 -1px 1px rgba(255,255,255,0.25); font-weight:100; text-align:center;
	display:inline-block; border:1px solid gray; border-right: 1px solid #676767; border-left: 1px solid #676767; margin-left:-10px;  
}		
.togBtnSel{
	border-bottom: 1px solid #a6a6a6; background-color:#e8f5fe; color:#000; text-shadow:0 1px 1px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5); 
}	
.togBtnWrap .togBtn:nth-child(1){
	margin-left:0px;
}
.togBtn:hover{
	background-color:#b8e1fc; cursor:pointer; text-shadow: 0 1px 1px rgba(0,0,0,0.25)
}
.togBtn:active{
	box-shadow: 1px 0px 3px rgba(0,0,0,0.5); text-shadow: 0 1px 1px rgba(0,0,0,0.25); 
}
.togBtnSel:hover{
	background-color:#e8f5fe; cursor:default; color:#000;
}
.togBtnBig{
	font-size:15pt; width:190px;
}
	