.toggle-btn { 
  display:flex;
}
.toggle-btn input {
  display: none;
}
.toggle-btn label {
  padding:3px; 
  box-shadow: 0 1px 1px rgba(16,22,26,.2);
  background-clip: padding-box; 
  background-color:#fff; 
  text-align:center;
  border: 1px solid #DDD; 
  margin:5px 5px 5px -6px;
  flex:1; 
  transition:all 0.1s ease-in-out;
  cursor: pointer;
}
.toggle-btn input:checked + label {
  color:#FFF;
  font-weight:bold;
  background-color:#0096D6;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.35), 0 1px rgba(255, 255, 255, 0.1); 
}
.toggle-btn input:checked + label:hover {
  cursor:default;
}
.toggle-btn label:first-of-type {
  border-radius: 3px 0 0 3px;
}
.toggle-btn label:last-of-type {
  border-radius: 0 3px 3px 0;
}	